Equity Trading Application/MavezProject/MockProject/trunk/Development/Code/PortfolioManager/DataAccessLayer/EquityTradingApplication/Service References/SecurityMarketServiceReference/AutoAllocationService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AutoAllocationService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AutoAllocationService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfSecurityMarketPrice.SecurityForClient">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SecurityMarketPrice.SecurityForClient" nillable="true" type="tns:SecurityMarketPrice.SecurityForClient" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSecurityMarketPrice.SecurityForClient" nillable="true" type="tns:ArrayOfSecurityMarketPrice.SecurityForClient" />
  <xs:complexType name="SecurityMarketPrice.SecurityForClient">
    <xs:sequence>
      <xs:element minOccurs="0" name="LastTradedPrice" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="MarketPrice" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="SecurityID" type="xs:int" />
      <xs:element minOccurs="0" name="SecurityName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SecuritySymbol" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SecurityMarketPrice.SecurityForClient" nillable="true" type="tns:SecurityMarketPrice.SecurityForClient" />
</xs:schema>