Equity Trading Application/MavezProject/MockProject/trunk/Development/Code/PortfolioManager/DataAccessLayer/EquityTradingApplication/Service References/SecurityMarketServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/AutoAllocationService" />
  <xs:element name="GetMarketPrice">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AutoAllocationService" minOccurs="0" name="result" nillable="true" type="q1:ArrayOfSecurityMarketPrice.SecurityForClient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>